{% extends "base.html" %}}
{% block content %}

{% if categories %}

<h2>Select a category to add a card to:</h2>

    {% for category in categories %}
    <h2></h2><a href="/add/{{ category.id }}">{{ category.name }}</a></h2>
    {% endfor %}

{% endif %}

{% if form %}
    <h2>As I always say: the more cards the better.</h2>

    <form action="" method="post" name="addCard">
        {{form.hidden_tag() }}
        <p>
            Question:
            {{ form.question(size=100) }}
        </p>
        <p>
            Answer:
            {{ form.answer(size=100) }}
        </p>
        <p><input type="submit" value="Add Card"></p>
    </form>
{% endif %}
{% endblock %}