{% import "bootstrap/wtf.html" as wtf %}
{% extends "base.html" %}}
{% block content %}
{{ super() }}
<div class="container">
    <div class="panel panel-default">

        <div class="panel-body" >
            {% if categories %}
                <h2>Card Categories</h2>
                    {% for category in categories %}
                    <p class="lead">
                    <a href="/review/{{ category.id }}">{{ category.name }}</a>
                    </p>
                {% endfor %}
            {% endif %}
            {% if card %}
                <div class="lead">Question {{ card_num }} of {{ total_questions }}</div>
                    {{ card.question}}
                <div id="myId" class="hidden">{{ card.answer }}</div>
                <p></p>
                <button type="button" class="btn btn-primary btn-large"
                onclick="document.getElementById('answer').innerHTML = '' +
                '<br>{{ card.answer }}'">
                Display Answer</button>
                <p id="answer"></p>
                <h4>Know the Answer?</h4>
                {{ wtf.quick_form(form)}}
            {% endif %}
            {% endblock %}
        </div>
    </div>
</div>